<nav
  class="navbar catagory-navbar mx-0 navbar-expand-lg navbar-light fontfamily-header"
>
  <div [ngClass]="{ 'catagory-navbar-container ': true, test: size0_992 }">
    <span
      (click)="toggleIcons()"
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span *ngIf="!toggleIcon" class="navbar-toggler-icon toggle-icon"> </span>
      <span *ngIf="toggleIcon" class="toggle-icon"
        ><i class="fa-solid fa-xmark"></i>
      </span>
    </span>
    <div
      [ngClass]="{ 'collapse navbar-collapse ': true, 'nav-links': size0_992 }"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav gap-4">
        <a
          [routerLinkActive]="'onActive'"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link px-3"
          aria-current="page"
          routerLink="/"
          >Home</a
        >
        <a
          [routerLinkActive]="'onActive'"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link px-3"
          routerLink="/category"
          >Categories</a
        >
        <a
          [routerLinkActive]="'onActive'"
          class="nav-link px-3"
          routerLink="/category/politics"
          >Politcs</a
        >
        <a
          [routerLinkActive]="'onActive'"
          class="nav-link px-3"
          routerLink="/category/business"
          >Business</a
        >
        <a
          [routerLinkActive]="'onActive'"
          class="nav-link px-3"
          routerLink="/category/health"
          >Health</a
        >
        <a
          [routerLinkActive]="'onActive'"
          class="nav-link px-3"
          routerLink="/category/science"
          >Science</a
        >
        <a
          [routerLinkActive]="'onActive'"
          class="nav-link px-3"
          routerLink="/category/sports"
          >Sports</a
        >
        <a
          [routerLinkActive]="'onActive'"
          class="nav-link px-3"
          routerLink="/category/entertainment"
          >Entertainment</a
        >
      </div>
    </div>
  </div>
</nav>
